@import "@/assets/scss/variables.scss";


@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(https://example.com/material-symbols.woff) format('woff');
}

body {
	background-color: $light-peach;
	color: $default-dark;
	font-family: "Montserrat", sans-serif;
	width: 100%;
	font-display: swap;
}

h1,
h2,
h3,
h4 {
	font-family: 'Hepta Slab', serif;
}

h3 {
	text-transform: uppercase;
}

p {
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 1px;
}

.caps {
	text-transform: uppercase;
}

ul.custom {
	li {

		list-style: none;

		&:before {
			content: "";
			width: 20px;

			border-radius: 50%;
			border: 2px solid #FF7442;
			display: inline-flex;
			height: 20px;
			margin-right: 20px;

			h3 {
				text-transform: uppercase;
			}
		}
	}
}

.sticky {
	position: sticky;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.wrap-inner {
	min-height: 100vh;
	@apply flex flex-col justify-between;

	.mobile-menu-open & {
		main {
			opacity: 0.2;
		}
	}
}

.animate {
	opacity: 0;
	transform: translateY (30px);
	transition: opacity 1s, transform 1s;

	&.animated {
		opacity: 1;
		transform: translateY(0);
	}

}

//button
.button {
	border-radius: 5px;
	color: $default-white;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	transform: translateY(0);
	transition: all .5s;
	opacity: 0.8;
	background-image: linear-gradient(45deg, $light-purple, $medium-purple);

	&.hollow {
		position: relative;
		opacity: 0.8;
		border: 2px solid transparent;
		background-origin: border-box;
		background-clip: content-box, border-box;


		&.purple {
			background-image: linear-gradient($light-peach, $light-peach), linear-gradient(45deg, $medium-purple, $dark-purple);
			color: $default-dark;

			a {
				padding: 10px;
			}


			&:hover {
				background-image: linear-gradient(45deg, $medium-purple, $dark-purple);
				color: $default-white;
				border: 2px solid $dark-purple;

			}
		}


		&.purple-orange {
			background-image: linear-gradient($default-dark, $default-dark), linear-gradient(45deg, $dark-purple, $orange);
			color: $light-peach;
			// width: 150px;
			// height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				padding: 10px 16px;
			}


			&:hover {
				background-image: linear-gradient(45deg, $medium-purple, $orange);
				color: $default-white;
				border: 2px solid $dark-purple;

			}
		}

	}

	&.contact {
		opacity: 1;
		background: linear-gradient($dark-purple, $dark-purple) padding-box, linear-gradient(133deg, $medium-purple, $light-purple) border-box;
		border: 2px solid transparent;


	}

	&:hover {
		transform: translateY(-12px);
		opacity: 1;
		box-shadow: 10px 10px 20px -4px rgba($default-dark, .4);
	}
}


.button-container {
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6px;

		&.purple {
			background-image: $linear-gradient-2;
			padding: 10px 16px;
			color: $light-peach;

		}
	}
}

//Gradient text
.gradient-purple {
	background: -webkit-linear-gradient($extra-light-purple, $light-purple, $medium-purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gradient-text{
	background: -webkit-linear-gradient(45deg, $orange, $dark-purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


header.main {
	z-index: 2;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0px 4px 4px 0px rgba(48, 31, 64, 0.3);
	position: absolute;
	top: 0;
	width: 100%;
	transition: background-color .5s ease;
	background-color: $light-peach;


	&.sticky-header {
		position: fixed;
		z-index: 2;
		background-color: rgba($light-peach, .8);



	}

	ul {
		li {
			display: inline;
			list-style-type: none;

			a {
				text-decoration: none;
				position: relative;
				border-bottom: 2px solid transparent;
				transition: all .5s;
				color: $dark-purple;


			}
		}
	}
	h4{
		font-family: 'Dancing Script', cursive;
	}
}



.mobile-menu {
	position: fixed;
	top: 100px;
	z-index: 10;
	background: $default-dark;
	border-radius: 12px 0 0 12px;
	overflow-y: hidden;
	height: 100%;
	right: 0;
	transform: translateX(100%);
	width: 0%;
	transition: transform 0.5s cubic-bezier(0.76, -0.01, 0.3, 0.99);
	top:0;
	width: 60%;


	li {
		display: flex;
		justify-content: flex-end;

		a {
			color: $light-peach;
			&.button{
				background: transparent;
				opacity: 1;
			}

		}
	}

	&.mobile-menu-open {
		transform: translateX(0%);
		position: fixed;
		height: 100vh;
		opacity: 0.95;
		justify-content: flex-start;
		z-index: 20;
		padding: 120px 20px;
	}

}

//General Styles

//Component Styles
.animate-underline {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding-bottom: 2px;
	margin: 0;
	text-decoration: 0;
	border: none;
	transition: all .3s;
	color: $medium-purple;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		width: 0;
		height: 2px;
		bottom: -2px;
		transition: width .3s ease-out;
		background: linear-gradient(to right, $medium-purple, rgba($dark-purple, .4));
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}

	&.orange {

		&:hover {
			color: $orange;

			&:before {
				background: linear-gradient(to right, $orange, rgba($orange, .4));
			}

			a {
				color: $orange;

			}


		}
	}
}



.animate-arrow,
.animate-arrow-prev {

	&:after,
	&:before {

		font-family: 'Material Symbols Outlined';
		font-size: 15px;
		padding-left: 5px;
		display: inline-flex;
		transition: transform .5s
	}

	&.animate-arrow {
		&:after {
			content: "arrow_forward";
		}
	}

	&.animate-arrow-prev {
		&:before {
			content: "arrow_back";
			margin-right: 10px;
		}
	}

	&.purple {
		color: $dark-purple;
	}

	&:hover {
		&:after {
			transform: translateX(5px);
		}

		&:before {
			transform: translateX(-5px);
		}


	}
}

//Hero{
section.hero {
	background-image: $linear-gradient-1;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;


	@screen lg {
		height: 100vh;
		max-height: 1100px;
	}


	.svg-container {

		position: absolute;
		bottom: -16px;
		left: 0;
		right: 0;

		svg,
		img {
			position: relative;

			margin: auto;
			max-width: 60%;
			@screen md{
				max-width: unset;
			}
		}




	}


}

//INFO Section

section.info {
	margin-top: 0 !important;

	a {
		font-weight: 300;
	}



	h3 {
		display: inline-block;
		position: relative;
		padding-bottom: 2px;
		width: fit-content;
		margin: 0;

		&:before {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 2px;
			background: $orange;
			transition: width 0.3s;
		}

		&.active {
			&:before {
				width: 100%;
			}
		}
	}


	.image-container {
		position: relative;
		transform: translateX(8%);
		width: 60%;

		img {
			position: absolute;
			z-index: 30;
			width: 100%;

		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 80%;
			background-image: linear-gradient($default-dark, $default-dark),
				linear-gradient(45deg, $dark-purple, $orange);

			border: 4px solid transparent;
			background-origin: border-box;
			background-clip: content-box, border-box;
		}

		&:before {
			left: 25px;
			top: 25px;
			z-index: 20;
		}
	}


}

//Project section
section.projects {
	.front-box {
		&.sitezeus {
			background: $overlay-gradient-dark, url("@/assets/images/project-images/sitezeus-homepage.png");

		}

		&.insites {
			background: $overlay-gradient-dark, url("@/assets/images/project-images/insites-homepage.png");
		}

		&.nicks {
			background: $overlay-gradient-dark
		}

		&.quizzical {
			background: $overlay-gradient-dark, url("@/assets/images/project-images/quizzical-app.png");
		}

		&.sticky-notes {
			background: $overlay-gradient-dark, url("@/assets/images/project-images/sticky-notes-app.png");
		}

		&.portfolio {
			background: $overlay-gradient-dark, url("@/assets/images/project-images/portfolio.png");
		}
	}
}